<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# There is more to `if`

`elif` = else if
- used when more branches are needed in an `if` statement

In [1]:
name = 'Batman'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Batman!

In [2]:
name = 'Robin'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Sidekick!

In [4]:
name = 'Joker'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick')
elif name == 'Joker':
    print('HAHAHHA')
else:
    print('Hello World!')

HAHAHHA

In [5]:
name = 'Nightwing'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello World!

# Asking questions

In [6]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

In [9]:
'apple' in fruits # is apple IN 'fruits' list

True

In [10]:
'peach' in fruits # is peach IN 'fruits' list

False

In [11]:
'peach' not in fruits # is peach NOT IN 'fruits' list

True

In [14]:
('apple' in fruits) or ('kang kong' in vegetables) # is apple in 'fruits' OR celery in 'vegetables'

True

In [15]:
('apple' in fruits) and ('kang kong' in vegetables) # is apple in 'fruits' AND celery in 'vegetables'

False

In [17]:
'ban' in 'banana' # is 'ban' IN 'banana'

True

Use `not`, `in`, `or`, `and` to ask questions

When asking, Python can only compare similar types i.e. numbers/English so you can compare 3 to 4 but not 3 to apple

In [18]:
'apple' > 'banana'

False

In [19]:
'banana' > 'apple'

True

this works because english words are represented as **numbers** in code

## Asking Math questions

equal?: `==`

not equal?: `!=`

less than?: `<`

greater than?: `>`

less than or equal?: `<=`

greater than or equal?: `>=`

# Python stores information in different formats or types

In [1]:
x = int(1.234)    # int() = integer (drops decimals)
print(x, type(x))

1 <class 'int'>

In [2]:
x = str(1.234)    # str() = string/English word
print(x, type(x))

1.234 <class 'str'>

In [4]:
x = float(1.234)  # float() = decimal number
print(x, type(x))

1.234 <class 'float'>

In [8]:
x = complex(1.234) # complex() = complex number (w/ imaginary component)
print(x, type(x))

(1.234+0j) <class 'complex'>

typecasting - changing the type of the variable

# Never compare floats directly

## The Problem

In [1]:
a = 0.1
a3 = 0.3
a * 3 == a3 # is 3a = a3?

False

In [3]:
f'{0.3:.17f}' # print 0.3 to 17 d.p.

'0.29999999999999999'

The above codes shows the problem with storing floating point numbers

## A solution

To get around this, check if variable is close to the expected value

In [6]:
eps = 1E-10
abs(a*3-a3)<eps # absolute value of the difference between 3a and a3 less than 1E-10

True

In [10]:
import numpy as np
np.isclose(a*3,a3)

True

# Combining English and variables

In [11]:
name = "Keith"
print(f"Hello {name}!")

Hello Keith!

In [13]:
name = "Keith"
print(f"Hello {name.upper()}!") # causes name to be all upper case

Hello KEITH!

In [14]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

the `f` and `{}` functions in the commands above form the **f-string** or **string interpolation**.

basic format is `f'{}'`

**Formatting text**

using `f'{text:>number}'` where `>` can be replaced with `^` or `<` to align text accordingly and *number* to be replaced with an integer to determine the number of characters in the text block.

In [15]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [19]:
text = 'Bruce Wayne is Batman.'
print(f'{text:>100}')           # aligned right

                                                                              Bruce Wayne is Batman.

In [20]:
text = 'Bruce Wayne is Batman.'
print(f'{text:^100}')           # aligned centre

                                       Bruce Wayne is Batman.

In [21]:
text = 'Bruce Wayne is Batman.'
print(f'{text:<100}')           # aligned left

Bruce Wayne is Batman.

**Formatting numbers**

In [23]:
print(f'The value of pi to 10 decimal places is {np.pi:.10f}')

The value of pi to 10 decimal places is 3.1415926536

in `.10f`, `f` tells the f-string to output in decimal notation and `.10` represents the number of decimal places the output will be in

In [24]:
print(f'The value of pi to 10 decimal places is {np.pi:.10e}')

The value of pi to 10 decimal places is 3.1415926536e+00

`e` instead tells the f-string to output in scientific notation

## Structure of f-strings

Basic structure is `{X:>0Y.ZW}`

- `X` - variable to format
- `>` - alignment (use either >, ^ or <)
- `0` - pad the space (can use normal space too)
- `Y` - total number of characters
- `Z` - number of d.p.
- `W` - specifies type of variable

[FOR MORE DETAILED LOOK ON FORMATTING](https://pyformat.info/)

# Escape sequences

Refers to special characters needed when writing english

- `\'` - single quotation marks
- `\\` - backslash
- `\n` - new line
- `\t` - horizontal tab

`\` causes an "escape"

In [29]:
print('Bruce Wayne\'s real name is Batman')

Bruce Wayne's real name is Batman

In [31]:
print('A\\B\\C')

A\B\C

In [32]:
print('A\nB\nC')

A
B
C

In [33]:
print('A\tB\tC')

A	B	C

# Computers read = from Right to Left!

In [34]:
x = 40
y = x +2

In [36]:
y = 40
y = y + 2
print (y) # python allows this because it reads from right to left (doesn't work for math)

42

# Shorter and Cleaner Code

In [39]:
y = 40
y += 2 # same as y = y + 2
y      # prints y

42

replace `+` with `-`, `*` and `/` for subtraction, multiplication and division respectively.

# Python can be a prima-donna.

Scroll to end of error messages to see error message to do **code debugging**

# Best Practices for Scientific Computing

1. Write programs for people, not computers - must be understandable!!
2. Optimise software only after it works correctly - make it work first!
3. Document design and purpose, not mechanics - what's the code for and not how it works!
4. Collaborate!

# Looking for help